body{
    background-color: lightgray;
}

.photo{
display: inline-block;
border: 5px black solid;
height: 100px;
width: 100px;
}

.info{
 text-align: justify;
}
 
h6{
    font-size: 10px;
    text-align: justify;
    text-decoration: none;
}